/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}



body{
  color: #FBF9F8;
}


#header{
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  background-color: #973F2C;
}

.content{
  display: flex;
  flex-direction: row;
}

#cvForm{
  background-color: #C08D39;
  width: 100%;
  padding: .3rem;
  margin: .5rem;
}


.personal,.work{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font:  sans-serif;
  margin-bottom: .7rem;
  margin-top: .2rem;
}


#cvPreview{
  background-color: white;
  color: black;
  width: 100%;
  min-height: 50%;
  max-height: fit-content;
  border: 0.1rem solid black;
  margin: .3rem;
  padding: .4rem;
}


.info{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.info2,.info1{
  display: flex;
  flex-direction: column;
}

.box{
  display: flex;
  flex-direction: row;
  gap: .5rem;
}



#expBtn{
  text-align: center;
}

.inputEdu{
  display: grid;
  grid-template-columns: 1fr 1fr;
}